{% extends 'elrefugio_app/base.html' %}
  {% block content %}
       <hr>
       <div id="slideshow">
          <div>
	     {% load static %}
             <img src="{% static "elrefugio_app/images/hero1.jpg" %}">
          </div>
          <div>
             <img src="{% static "elrefugio_app/images/hero2.jpg" %}">
          </div>
          <div>
             <img src="{% static "elrefugio_app/images/hero4.jpg" %}">
          </div>
      </div>
      <div id="banner">
         <p>Yo soy Asilo <br> &nbsp &nbsp El Refugio ... </p>
         <p class="emphasis">y tu?</p>
      </div>
      <hr>
      <div class="container-fluid">
        <div class="row content mission">
          <div class="col-xs-12">
            <h2>Nuestra Mision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec vitae urna nec mi gravida luctus. Aenean placerat elit
            dui, et congue diam pretium id. Nulla facilisi. Nunc ut pretium
            dolor. Nunc arcu sapien, efficitur at nibh quis, mollis suscipit elit</p>
          </div>
        </div>
        <div class="row content">
          <h2>Nuestras Metas 2016</h2>
        </div>
        <div class="row content icon-holder">
          <div class="col-sm-4 icons">
            <img src="{% static "elrefugio_app/images/money.svg" %}" width="80px">
            <p>lograr ingresso de 60 mil pesos mensuales</p>
          </div>
          <div class="col-sm-4 icons">
            <img src="{% static "elrefugio_app/images/home.svg" %}" width="80px">
            <p>recabar 1 millon de pesos para mejorar instalaciones</p>
          </div>
          <div class="col-sm-4 icons">
            <img src="{% static "elrefugio_app/images/people.svg" %}" width="80px">
            <p>atender y dar carino a mas de 250 mayores</p>
          </div>
        </div>
        <div class="row content">
          <div class="col-xs-12">
            <h2>Logros Sept-2016</h2>
          </div>
        </div>
        <div class="row content">
          <div class="col-sm-4 icons">
          <h3>30,000</h3>
          <p> pesos mensuales</p>
          </div>
          <div class="col-sm-4 icons">
            <h3>570,000</h3>
            <p> pesos rebados</p>
          </div>
          <div class="col-sm-4 icons">
            <h3>167</h3>
            <p>mayores atendidos</p>
          </div>
        </div>
      </div>
       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
       <br><br><br><br><br><br>
  {% endblock %}

<!-- icon made by freepik from www.flaticon.com -- >
