{% extends 'elrefugio_app/base.html' %}
  {% block content %}
       <hr>
       <div id="slideshow">
          <div>
	     {% load static %}
             <img src="{% static "elrefugio_app/images/hero1.jpg" %}">
          </div>
          <div>
             <img src="{% static "elrefugio_app/images/hero2.jpg" %}">
          </div>
          <div>
             <img src="{% static "elrefugio_app/images/hero4.jpg" %}">
          </div>
      </div>
      <div id="banner">
         <p>Yo soy Asilo <br> &nbsp &nbsp El Refugio ... </p>
         <p class="emphasis">y tu?</p>
      </div>
      <hr>
      <div id="metas">
        <div class="container-fluid">
          <div class="row content mission">
            <div class="col-xs-12">
              <h1>Nuestra Mision</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Donec vitae urna nec mi gravida luctus. Aenean placerat elit
              dui, et congue diam pretium id. Nulla facilisi. Nunc ut pretium
              dolor. Nunc arcu sapien, efficitur at nibh quis, mollis suscipit elit</p>
            </div>
          </div>
          <div class="row content">
            <div class="col-xs-12">
              <h1 style="margin-top: 70px">Nuestras Metas: 2016</h1>
            </div>
          </div>
          <div class="row content icon-holder">
            <div class="col-sm-4 icons">
              <img src="{% static 'elrefugio_app/images/money.svg' %}" width="80px">
              <p>lograr ingresso de 60 mil pesos mensuales</p>
            </div>
            <div class="col-sm-4 icons">
              <img src="{% static 'elrefugio_app/images/home.svg' %}" width="80px">
              <p>recabar 1 millon de pesos para mejorar instalaciones</p>
            </div>
            <div class="col-sm-4 icons">
              <img src="{% static "elrefugio_app/images/people.svg" %}" width="80px">
              <p>atender y dar carino a mas de 250 mayores</p>
            </div>
          </div>
          <div class="row content">
            <div class="col-xs-12">
              <h1 style="margin-top: 70px">Logros</h1>
            </div>
          </div>
          <div class="row content icons">
            <div class="col-sm-4 icons">
              <h2>30,000</h2>
              <p> pesos mensuales</p>
            </div>
            <div class="col-sm-4 icons">
              <h2>570,000</h2>
              <p> pesos recabados</p>
            </div>
            <div class="col-sm-4 icons">
              <h2>167</h2>
              <p>mayores atendidos</p>
            </div>
          </div>
        </div>
        <br>
      </div>
      <a id="unete" class="btn btn-default" href="/como-ayudar" role="button">
        Unete a la causa!
      </a>
      <div id="eventos" class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>Eventos & Noticias</h1>
          </div>
        </div>
        <div class="row evento">
          <div class="col-sm-8 col-xs-12">
              <h2>Integer vitae euismod odio. Cras imperdiet mollis
              consectetur</h2>
              <h5> 10/2016</h5>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Cras turpis augue, laoreet in egestas at, finibus vestibulum
              mauris. Maecenas lacinia congue lacus, quis scelerisque urna
              imperdiet a. Aenean sit amet tristique turpis, quis imperdiet
              ipsum. Mauris vitae gravida neque. Aliquam erat volutpat.
              Duis lobortis imperdiet ligula sit amet consectetur.
              Aliquam non nunc at neque sagittis feugiat. Proin fringilla,
              eros eget vulputate aliquet, dolor arcu eleifend purus, ut
              tristique dui est id nisi. Morbi viverra eu massa vel finibus.
              Maecenas tempor cursus lacus in facilisis. Class aptent taciti
              sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos. Phasellus vitae fringilla massa, id dictum leo.
              <br><br>
              Integer vitae euismod odio. Cras imperdiet mollis
              consectetur. Cras blandit metus in tempor viverra. Nunc vel
              elit in nibh faucibus interdum. Vestibulum efficitur
              rutrum tincidunt. Proin id mauris accumsan, tincidunt dolor
              in, porttitor dolor. Sed vestibulum, tellus vel sodales
              aliquam, libero sem imperdiet massa, in auctor elit elit a
              augue.</p>
          </div>
          <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
            <img class="event-photo" src="{% static 'elrefugio_app/images/evento.jpg' %}">
          </div>
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row evento">
          <div class="col-sm-8 col-xs-12">
              <h2>Integer vitae euismod odio. Cras imperdiet mollis
              consectetur</h2>
              <h5> 10/2016</h5>
              <br>
              <p>Integer vitae euismod odio. Cras imperdiet mollis
              consectetur. Cras blandit metus in tempor viverra. Nunc vel
              elit in nibh faucibus interdum. Vestibulum efficitur
              rutrum tincidunt. Proin id mauris accumsan, tincidunt dolor
              in, porttitor dolor. Sed vestibulum, tellus vel sodales
              aliquam, libero sem imperdiet massa, in auctor elit elit a
              augue.</p>
          </div>
          <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          </div>
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
        <div class="row evento">
          <div class="col-sm-8 col-xs-12">
              <h2>Integer vitae euismod odio. Cras imperdiet mollis
              consectetur</h2>
              <h5> 10/2016</h5>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Cras turpis augue, laoreet in egestas at, finibus vestibulum
              mauris. Maecenas lacinia congue lacus, quis scelerisque urna
              imperdiet a. Aenean sit amet tristique turpis, quis imperdiet
              ipsum. Mauris vitae gravida neque. Aliquam erat volutpat.
              Duis lobortis imperdiet ligula sit amet consectetur.
              Aliquam non nunc at neque sagittis feugiat. Proin fringilla,
              eros eget vulputate aliquet, dolor arcu eleifend purus, ut
              tristique dui est id nisi. Morbi viverra eu massa vel finibus.
              Maecenas tempor cursus lacus in facilisis. Class aptent taciti
              sociosqu ad litora torquent per conubia nostra, per inceptos
              himenaeos. Phasellus vitae fringilla massa, id dictum leo.
              <br><br>
              Integer vitae euismod odio. Cras imperdiet mollis
              consectetur. Cras blandit metus in tempor viverra. Nunc vel
              elit in nibh faucibus interdum. Vestibulum efficitur
              rutrum tincidunt. Proin id mauris accumsan, tincidunt dolor
              in, porttitor dolor. Sed vestibulum, tellus vel sodales
              aliquam, libero sem imperdiet massa, in auctor elit elit a
              augue.</p>
          </div>
          <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
            <img class="event-photo" src="{% static 'elrefugio_app/images/hero1.jpg' %}">
          </div>
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
      </div>

  {% endblock %}

<!-- icon made by freepik from www.flaticon.com -- >
